# Python 自动生成的文件
__pycache__/
*.pyc
*.pyo
*.pyd

# 虚拟环境文件夹
venv/
env/

# IDE 配置文件 (例如 VSCode, PyCharm)
.vscode/
.idea/

# 项目生成的数据库文件
*.db
items.db

# 项目生成的日志文件
*.log
eve_monitor.log

# 项目生成的图片输出目录
tmp/

# EVE SDE 静态数据 (非常重要！这个文件夹体积巨大，不应上传)
sde/
